*{
    background-color: black;
    color: white;
}

.color{
    width: 50px;
    height:20px;
    margin: 20px;
}

#red{ background-color: red;}

#orange{ background-color: orange;}

#yellow{ background-color: yellow;}

#green{ background-color: green;}

#blue{ background-color: blue;}


#square{
    width: 100px;
    height: 100px;
    background-color: white;
}

#circle{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
}

.box{
    margin: 20px;
}

#box1{
    width: 100px;
    height:100px;
    background-color: black;
    border-top: 10px solid white;
    border-right: 10px solid grey;
    border-bottom: 10px solid grey;
    border-left: 10px solid grey;
    
}

#b2{
    width: 100px;
    height:100px;
    background-color: black;
    border-top: 10px solid white;
    border-right: 10px solid grey;
    border-bottom: 10px solid white;
    border-left: 10px solid grey;
}

#b3{
    width: 100px;
    height:100px;
    background-color: black;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    border-left: 10px solid grey;
}

#b4{
    width: 100px;
    height:100px;
    background-color: black;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
}