nav{
    background-color: gray;
    height:50px;
    color: white;
}

body{
    background: linear-gradient(to top, gold, white);
    background-repeat: no-repeat;
}

#uwec{
    height: 100px;
    position: relative;
    left: 33%;
    margin:50px;
}

#foo{
    position: relative;
    top: 15px;
    left:50%;
}

#clear{
    clear: both;
}

#google{
    float:right;
    height:40px;
    width:auto;
}

.box{
    height:100px;
    width: 100px;
    background-color: pink;
    padding-bottom: 20px transparent;
    border: 10px solid black;
    margin: 20px;
}

#box1{
    float:right;
}


#box2{
    float:left;
}

#box3{
    float:right;
    position: relative;
    right: 75px;
}


@media (max-width: 500px){
    .box{
        width:85%;
    }
}