*{
    background-color: purple;
    margin-top: 0;
}

body{
    width:800px;
    margin-right: auto;
    margin-left: auto;
    background-color: gainsboro;
    padding: 0;
}

.color{
    background-color: gainsboro;
}

/* nav stuff */
li{
    list-style: none;
    display: inline-block;
    background-color: black;
    position: relative;
    top: 10px;
    padding: 6px 6px 15px 6px;
    
}

ul{
    background-color: black;
    padding-left: 6px;
    margin-bottom: 0;
}

nav{
    height:60px;
    background-color: black;
    font-size: 15pt;
}

.navl{
    background-color: black;
    color:white;
    text-decoration: none;
}

.dropdown{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: black;
}

.dropdown:hover #brodrop{
    display: block;
}

#brodrop:hover a{
    background-color: gray;
}  

#brodrop{
    display: none;
    position: absolute;
    text-align: center;
    padding: 15px 50px 10px 15px;
    background-color: black;
}

.dropdown:hover #famousdrop{
    display: block;
}

#famousdrop:hover a{
    background-color: gray;
}

#famousdrop{
    display:none;
    position: absolute;
    text-align: center;
    padding: 15px 100px 10px 15px;
    background-color: black;
}
/* main stuff*/
main{
    align-content: center;
    text-align: center;
}

table{
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

#headimg{
    width:800px;
    height: 275px;
    background-image: url(Rushfiji.jpg);
    background-size: contain;
}

h1{
    background-color: gainsboro;
    padding-top: 10px;
}

h2{
    background-color: gainsboro;
}

p{
    background-color: gainsboro;
}

td{
    background-color: gainsboro;
    padding: 5px;
}

th{
    background-color: gainsboro;
}

#reason{
    padding: 0 30px 0 30px;
    text-align: left;
}

/* footer stuff */
footer{
    background-color: gainsboro;
    padding-bottom: 10px;
    margin-top: 50px;
}

#foot{
    background-color: gainsboro;
    width: 200px;
    margin-left: 10px;
    
}

.icon{
    height: 50px;
    width:50px;
    background-size: contain;
    margin: 10px;
    display: inline-block;
    float: right;
    background-color: gainsboro;
    position: relative;
    bottom: 70px;
}

.colorf{
    background-color: gainsboro;
}

#facebook{background-image: url(facebookicon.jpg);}
#twitter{background-image: url(twittericon.png);}
#instagram{background-image: url(instagramicon.png);}
