#headimg{
    background-image: url(../images/contactpic.jpg);
    background-size:auto;
    width: 800px;
    height: 400px;
}

.contact{
    margin-left: 30px;
}

h1{
    padding-top: 20px;
}

.name{
    font-weight: bolder;
}

.contact:first-of-type{
    padding-top: 20px;
}